repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
    -   id: trailing-whitespace
    -   id: end-of-file-fixer
    -   id: check-json
    -   id: check-yaml
        args: ["--unsafe"]
    -   id: check-merge-conflict
    -   id: check-added-large-files
        args: ["--maxkb=4000"]
        exclude: ^uv.lock$

-   repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.8.4
    hooks:
    -   id: ruff
        args: [--fix]
    -   id: ruff-format
